@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans:wght@400;600;700&family=Quicksand&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background: rgba(255, 30, 86, 0.99);
  color: white;
}

*::selection {
  background: rgba(255, 30, 86, 0.99);
  color: white;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.push {
  margin-left: 220px;
  width: calc(100% - 220px);
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  color: white;
}

.subheader {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: white;
  line-height: 1;
  margin-bottom: 12px;
}

.title {
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: 400;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: white;
}

.subtitle .color {
  color: #FF1E56;
  font-weight: 500;
}

.description {
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  color: #949494;
}

.paragraph {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  color: white;
}

.link {
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  color: #474747;
  position: relative;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.link:hover {
  color: white;
}

.link.active {
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
  display: inline-block;
}

.container {
  padding: 0 180px 0 140px;
}

.btn {
  color: white;
  background: #FF1E56;
  display: inline-block;
  padding: 1em;
  min-width: 220px;
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  border-radius: 30px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.btn img, .btn svg {
  vertical-align: middle;
  -webkit-transform: translateX(1em);
          transform: translateX(1em);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.btn.secondary {
  background: transparent;
  border-bottom: 1px solid white;
  border-radius: unset;
  padding: 0;
  min-width: unset;
  margin-left: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  line-height: 18px;
}

.btn.secondary:hover {
  color: #FF1E56;
  border-bottom: none;
}

.btn.right:hover img {
  -webkit-animation: right 1.2s ease-in-out infinite;
          animation: right 1.2s ease-in-out infinite;
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
  }
  15% {
    -webkit-transform: translateX(1.5em);
            transform: translateX(1.5em);
  }
  30% {
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
  }
}

@keyframes right {
  0% {
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
  }
  15% {
    -webkit-transform: translateX(1.5em);
            transform: translateX(1.5em);
  }
  30% {
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
  }
}

.btn.down:hover svg #arrow {
  -webkit-animation: down 1.35s ease-in-out infinite;
          animation: down 1.35s ease-in-out infinite;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
  15% {
    -webkit-transform: translateY(0.2em);
            transform: translateY(0.2em);
  }
  30% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
  15% {
    -webkit-transform: translateY(0.2em);
            transform: translateY(0.2em);
  }
  30% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

.btn-2 {
  border: 2px solid #FF1E56;
  border-radius: 20px;
  padding: 0.3em 1.1em;
  color: white;
}

.btn-2:hover {
  background: #FF1E56;
}

.btn-2.active {
  border-color: transparent;
  background: none;
}

.img-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background: black;
  border: 2px solid #232323;
  border-radius: 50%;
  content: '';
  height: 100px;
  width: 100px;
}

.img-circle img {
  height: 58px;
  width: 58px;
}

.icon-btn {
  padding: 0.8em;
  background: #0D0D0D;
  border-radius: 50%;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

.icon-btn:hover {
  background: #FF1E56;
}

.icon-btn img {
  height: 25px;
  vertical-align: bottom;
}

.divider {
  width: 100%;
  height: 2px;
  background: #0D0D0D;
  margin: 1.5em 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  width: 100%;
  vertical-align: bottom;
}

.swiper-button-next, .swiper-button-prev {
  color: #FF1E56;
}

.sidebar {
  opacity: 0;
  width: 220px;
  height: 100vh;
  position: fixed;
  background: #0D0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar .scroll, .sidebar .logo {
  margin: 60px 0;
  text-align: center;
}

.sidebar .menu {
  position: relative;
  line-height: 3;
}

.sidebar .menu span {
  display: block;
  content: '';
  height: calc(100% - 3em);
  width: 1px;
  background: #232323;
  position: absolute;
  left: -1.8em;
  top: 1.5em;
}

.sidebar .link::before {
  display: block;
  content: '';
  height: 9px;
  width: 9px;
  background: #232323;
  position: absolute;
  left: -2em;
  top: calc(50% - 0.3em);
  border-radius: 50%;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.sidebar .link.active::before {
  background: #FF1E56;
  width: 24px;
  border-radius: 20px;
  left: calc(-2em - 8px);
}

.sidebar .scroll img {
  margin-bottom: 0.5em;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

@-webkit-keyframes scrolldown {
  0% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
  15% {
    -webkit-transform: translateY(0.3em);
            transform: translateY(0.3em);
  }
  30% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

@keyframes scrolldown {
  0% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
  15% {
    -webkit-transform: translateY(0.3em);
            transform: translateY(0.3em);
  }
  30% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

.sidebar .scroll:hover img {
  -webkit-animation: scrolldown 1s ease-in-out infinite;
          animation: scrolldown 1s ease-in-out infinite;
}

.navbar {
  height: 80px;
  width: 100%;
  background: #0D0D0D;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar.hidden {
  margin-top: -80px;
}

.navbar .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo img {
  height: 30px;
}

.navbar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu ul li:not(:first-child) {
  margin-left: 2em;
}

.navbar .menu ul li:last-child {
  margin-left: 1.2em;
}

.navbar .hamburger {
  background: #0D0D0D;
  padding: 15px 16px;
  border-radius: 50%;
  display: none;
  position: fixed;
  right: 8px;
  cursor: pointer;
}

.navbar .hamburger span {
  display: block;
  height: 4px;
  margin: 6px 2px;
  background: white;
  width: 30px;
  border-radius: 5px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar .hamburger.open span:first-child {
  width: 100%;
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.navbar .hamburger.open span:nth-child(2) {
  opacity: 0;
}

.navbar .hamburger.open span:last-child {
  width: 100%;
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

@media only screen and (max-width: 750px) {
  .navbar.hidden {
    width: 86px;
    background: transparent;
    margin-top: 0px;
  }
  .navbar .hamburger {
    display: block;
  }
  .menu {
    position: fixed;
    height: calc(100vh - 80px);
    width: 100%;
    z-index: 2;
    top: 80px;
    right: -100%;
    background: black;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
  }
  .menu.open {
    right: 0;
    background: #0D0D0D;
  }
  .menu ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu ul li {
    margin: 0 !important;
  }
  .menu ul li a {
    color: white;
    padding: 1em;
    border: none;
  }
  .menu ul li a:hover {
    background: none;
    color: #FF1E56;
  }
}

#hero {
  margin-bottom: -6em;
}

#hero .container {
  text-align: center;
}

#hero .container div:first-child {
  z-index: 10;
  position: relative;
}

#hero .subtitle {
  padding-top: 25vh;
  margin-bottom: 0.6em;
}

#hero .header {
  margin-bottom: 1.2em;
}

#hero .img {
  height: 430px;
}

#hero .img img {
  height: 100%;
}

#about {
  padding: 16em 0 4em;
}

#about .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about span {
  display: block;
  padding-top: 1em;
}

#about .left {
  max-width: 450px;
}

#about .left .header {
  margin-bottom: 30px;
}

#about .left .paragraph {
  margin-bottom: 65px;
}

#about .right {
  height: 430px;
}

#about .right img {
  height: 100%;
}

#what {
  padding: 11em 0 15em;
}

#what .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
}

#what .header {
  margin-right: 0.8em;
}

#what .right {
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

#what .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#what .feature .img-circle {
  margin-right: 60px;
}

#what .feature li {
  line-height: 1.4;
}

#what .feature li::before {
  margin-right: 1.3em;
  display: inline-block;
  content: '';
  background-color: #232323;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

#what .feature:nth-child(even) {
  margin-left: 40px;
}

#what .circle {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 900px;
  overflow: hidden;
}

#what .circle svg {
  width: 1347px;
}

.img-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
}

.img-popup img {
  max-width: 90vw;
  max-height: 90vh;
}

.img-popup .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.popup-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 998;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.popup .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.popup .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5.5rem;
}

.popup .nowidth {
  min-width: unset;
  width: 56px;
  height: 56px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2em;
}

.popup .nowidth img {
  height: 22px;
  width: 22px;
  -webkit-transform: none;
          transform: none;
  vertical-align: unset;
}

.popup .subheader {
  font-family: 'Heebo', sans-serif;
  font-size: 2.4em;
  padding-bottom: 2.4rem;
}

.popup .title {
  margin-bottom: 4px;
}

.popup .paragraph:not(li) {
  line-height: 1.4;
  font-family: 'Heebo',sans-serif;
  color: #5f5f5f;
  margin-bottom: 2rem;
}

.popup li {
  line-height: 1.4;
  font-family: 'Heebo',sans-serif;
  color: #5f5f5f;
}

.popup li::before {
  margin-right: 1.3em;
  display: inline-block;
  content: '';
  background-color: #242424;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.popup .popup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  position: relative;
  pointer-events: all;
}

.popup .popup-img {
  background-position: top center;
  background-size: cover;
  width: 100%;
}

.popup .popup-text {
  padding: 6em 3em 3em;
  width: 600px;
  background: #0D0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#work {
  padding: 5em 0 3em;
}

#work .header {
  text-align: center;
}

#work .categories {
  margin: 40px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#work .categories .link {
  cursor: pointer;
  white-space: nowrap;
}

#work .categories .link:not(:first-child) {
  text-decoration: line-through;
}

#work .categories .link:not(:first-child):hover {
  cursor: default;
  color: #474747;
}

#work .categories .loader:not(:last-child) {
  margin: 0 45px;
  display: inline-block;
  height: 2px;
  width: 100px;
  background-color: #232323;
}

#work .categories .loader:last-child {
  display: none;
}

#work .websites-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(440px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

#work .websites-grid .websites-item {
  position: relative;
  padding-top: 50%;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  background-size: cover;
}

#work .websites-grid .websites-item .text-wrapper {
  position: absolute;
  top: 0;
}

#work .illustrations-grid, #work .icons-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(285px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  grid-gap: 40px;
}

#work .illustrations-grid .illustrations-item, #work .illustrations-grid .icons-item, #work .icons-grid .illustrations-item, #work .icons-grid .icons-item {
  position: relative;
  padding-top: 100%;
  width: 100%;
  cursor: pointer;
  background-size: cover;
}

#work .illustrations-grid .illustrations-item .title, #work .illustrations-grid .icons-item .title, #work .icons-grid .illustrations-item .title, #work .icons-grid .icons-item .title {
  position: absolute;
  bottom: -10px;
  left: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

#contact {
  padding: 10em 0 15em;
}

#contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .left .img img {
  height: 430px;
  width: auto;
}

#contact .left .paragraph {
  margin: 0.5em 0 4em;
}

#contact .left .paragraph a {
  border-bottom: 1px solid #FF1E56;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#contact .left .paragraph a:hover {
  color: #FF1E56;
  border-bottom: 1px solid black;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  color: #474747;
}

#contact form input:-webkit-autofill,
#contact form input:-webkit-autofill:hover,
#contact form input:-webkit-autofill:focus
input:-webkit-autofill,
#contact form textarea:-webkit-autofill,
#contact form textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
#contact form select:-webkit-autofill,
#contact form select:-webkit-autofill:hover,
#contact form select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#contact form input, #contact form textarea {
  border: none;
  margin-bottom: 1em;
  color: #fff;
}

#contact form input[type="submit"], #contact form textarea[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#contact form input:not([type="submit"]), #contact form textarea:not([type="submit"]) {
  width: 550px;
  background: none;
  border: 1px solid #232323;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  padding: 0.7em;
  resize: none;
  margin-bottom: 2em;
}

#contact form input:not([type="submit"]):focus, #contact form textarea:not([type="submit"]):focus {
  outline-color: #474747;
}

#contact form input:-webkit-autofill, #contact form textarea:-webkit-autofill {
  -webkit-transition: background-color 1s ease-in-out 550s;
  transition: background-color 1s ease-in-out 550s;
  color: white;
}

#contact form label {
  margin-bottom: 0.2em;
  margin-top: 1.5em;
}

#contact form label:first-child {
  margin-top: 2.5em;
}

#contact form .btn {
  width: 230px;
}

footer .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1em;
}

footer .lower {
  text-align: center;
  color: #232323;
  font-family: 'Heebo';
  font-size: 1em;
  margin: 2.5em 0 3.5em 0;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .info p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4em 0 1em;
}

footer .info span {
  display: block;
}

footer .info img {
  vertical-align: middle;
  min-height: 17px;
  min-width: 22px;
}

footer .links a:not(:first-child) {
  margin-left: 1.8em;
}

@media only screen and (max-width: 1650px) {
  .container {
    padding: 0 90px 0 70px;
  }
  #what {
    padding: 10em 0 12em;
  }
  #what .circle svg {
    width: 1210px;
  }
}

@media only screen and (max-width: 1450px) {
  .container {
    padding: 0 40px 0 40px;
  }
  #what .circle svg {
    width: 1150px;
  }
  .popup .popup-container {
    width: 100%;
    margin: 0 40px;
  }
  .img-popup img {
    max-width: 99vw;
    padding: 0 40px;
  }
}

@media only screen and (max-width: 1350px) {
  .push {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1150px) {
  .header {
    font-size: 3.5em;
  }
  .container {
    padding: 0 25px;
  }
  .popup .popup-container {
    margin: 0 25px;
  }
  .img-popup img {
    padding: 0 25px;
  }
  #work .illustrations-grid, #work .icons-grid, #work .websites-grid {
    grid-gap: 25px;
  }
  #about .left {
    max-width: 450px;
  }
  #what {
    padding-bottom: 6em;
  }
  #what .right {
    margin-left: 50px;
  }
  #what .right .feature:nth-child(even) {
    margin-left: 50px;
  }
  #what .circle {
    width: 700px;
  }
  #what .circle svg {
    width: 1080px;
  }
  #work .categories {
    margin: 30px 0 80px;
  }
  #contact {
    padding-top: 6em;
  }
  #contact form label:first-child {
    margin-top: 1.5em;
  }
  #contact form input:not([type="submit"]), #contact form textarea:not([type="submit"]) {
    width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  #about .right {
    height: 360px;
  }
  #contact .left .img img {
    height: 330px;
  }
  #what .header {
    margin: 0;
  }
  #what .right {
    margin-left: 20px;
  }
  #what .circle {
    width: 600px;
  }
  #what .circle svg {
    width: 930px;
  }
  #work .websites-grid {
    -ms-grid-columns: (minmax(380px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}

@media only screen and (max-width: 920px) {
  #about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #about .container .left {
    max-width: 500px;
  }
  #about .container .right {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .popup .popup-img {
    padding-top: 60%;
  }
  .popup .subheader {
    padding-bottom: 2rem;
    margin: 0;
  }
  .popup .title {
    font-size: 20px;
  }
  .popup .paragraph:not(li) {
    margin-bottom: 1.2rem;
  }
  .popup .btn-container {
    padding-top: 3em;
  }
  .popup .popup-text {
    width: 100%;
    padding: 2em;
  }
  .popup .popup-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #what {
    overflow-x: hidden;
  }
  #what .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 640px;
  }
  #what .container .left {
    margin-bottom: 65px;
  }
  #what .container .right {
    margin: 0;
  }
  #what .container .right .feature:nth-child(even) {
    margin-left: 45px;
  }
  #what .container .circle {
    bottom: 0;
    overflow: visible;
  }
  #what .container .circle svg {
    overflow: visible;
  }
  #contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  #contact .container .left img {
    position: absolute;
    bottom: 0;
    right: 25px;
  }
  #contact .container .paragraph {
    margin-bottom: 1.5em;
  }
  #contact .container form input:not([type="submit"]), #contact .container #contact form textarea:not([type="submit"]) {
    margin-bottom: 1em;
  }
  footer .container .upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .upper .info {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .container .upper .info .info-item {
    margin-bottom: 1.5em;
  }
  footer .container .upper .links {
    margin-top: 1.5em;
  }
}

@media only screen and (max-width: 800px) {
  #contact {
    padding-bottom: 400px;
  }
  #contact form input:not([type="submit"]), #contact form textarea:not([type="submit"]) {
    width: 100%;
  }
  #contact label {
    color: white;
    font-size: 14px;
  }
  #contact .container .left img {
    bottom: -52%;
  }
  footer {
    padding-top: 6em;
  }
}

@media only screen and (max-width: 660px) {
  #hero .img {
    height: unset;
  }
  #hero .img img {
    width: 100%;
    height: unset;
  }
  .popup .subheader {
    display: none;
  }
  #contact .container .left img {
    right: 15px;
  }
  .container {
    padding: 0 15px;
  }
  #about .left {
    margin-bottom: 3em;
  }
  #work .websites-grid {
    -ms-grid-columns: (minmax(330px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
  #work .header {
    text-align: left;
  }
  #work .categories {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  #work .categories .loader:not(:last-child) {
    margin: 0 25px;
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
  .btn {
    font-size: 16px;
  }
  .popup .popup-container {
    margin: 0 15px;
  }
  .img-popup img {
    padding: 0 15px;
  }
  #work .categories {
    margin: 25px 0 60px;
  }
  #about .left .paragraph {
    margin-bottom: 45px;
  }
  #about .left .header {
    margin-bottom: 20px;
  }
  #hero .header {
    text-align: left;
    margin-bottom: 45px;
    margin-top: 15px;
    font-size: 31px;
  }
  #hero .subtitle {
    font-size: 1em;
    text-align: left;
    padding-top: 16vh;
  }
  #hero .subtitle .break {
    display: block;
  }
  #hero .btn {
    width: 100%;
  }
  #what {
    padding: 8em 0 8em;
  }
  #what .container {
    height: 540px;
  }
  #what .container .left {
    margin-bottom: 45px;
  }
  #what .container .right .feature:nth-child(even) {
    margin-left: 25px;
  }
  #what .container .circle {
    bottom: -40px;
    left: -25px;
  }
  #what .feature .img-circle {
    margin-right: 30px;
  }
  .header {
    font-size: 31px;
  }
  .subheader {
    font-size: 20px;
  }
  #contact .container .left img {
    bottom: -60%;
  }
}

@media only screen and (max-width: 440px) {
  #about .right {
    height: 290px;
  }
  #contact .left .img img {
    height: 270px;
  }
  #contact .container .left img {
    bottom: -50%;
  }
}
/*# sourceMappingURL=styles.css.map */