@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans:wght@400;600;700&family=Quicksand&display=swap");
body {
  background: black;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background: rgba(255, 30, 86, 0.99);
  color: white;
}

*::selection {
  background: rgba(255, 30, 86, 0.99);
  color: white;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.push {
  margin-left: 220px;
  width: calc(100% - 220px);
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 4em;
  color: white;
}

.subheader {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: white;
  line-height: 1;
  margin-bottom: 12px;
}

.title {
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: 400;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.subtitle span {
  color: #FF1E56;
}

.description {
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  color: #949494;
}

.paragraph {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  color: white;
}

.link {
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  color: #474747;
  position: relative;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.link:hover {
  color: white;
}

.link.active {
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
  display: inline-block;
}

.container {
  padding: 0 180px 0 140px;
}

.btn {
  color: white;
  background: #FF1E56;
  display: inline-block;
  padding: 1em;
  min-width: 220px;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  border-radius: 30px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.btn.square {
  min-width: 50px;
  min-height: 50px;
}

.btn.square img {
  vertical-align: bottom;
}

.btn:not(.square) img {
  vertical-align: middle;
  -webkit-transform: translateX(1em);
          transform: translateX(1em);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.btn.right:hover img {
  -webkit-transform: translateX(1.4em);
          transform: translateX(1.4em);
}

.btn.down:hover img {
  -webkit-transform: translate(1em, 0.3em);
          transform: translate(1em, 0.3em);
}

.btn-2 {
  border: 2px solid #FF1E56;
  border-radius: 20px;
  padding: 0.3em 1.1em;
  color: white;
}

.btn-2:hover {
  background: #FF1E56;
}

.btn-2.active {
  border-color: transparent;
  background: none;
}

.img-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background: black;
  border: 2px solid #232323;
  border-radius: 50%;
  content: '';
  height: 100px;
  width: 100px;
}

.img-circle img {
  height: 58px;
  width: 58px;
}

.icon-btn {
  padding: 0.6em;
  background: #232323;
  border-radius: 50%;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

.icon-btn:hover {
  background: #FF1E56;
}

.icon-btn img {
  height: 28px;
  vertical-align: bottom;
}

.divider {
  width: 100%;
  height: 2px;
  background: #0D0D0D;
  margin: 1.5em 0;
}

.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  background: #0D0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar .scroll, .sidebar .logo {
  margin: 60px 0;
  text-align: center;
}

.sidebar .menu {
  position: relative;
  line-height: 3;
}

.sidebar .menu::before {
  display: block;
  content: '';
  height: calc(100% - 3em);
  width: 1px;
  background: #232323;
  position: absolute;
  left: -1.8em;
  top: 1.5em;
}

.sidebar .link::before {
  display: block;
  content: '';
  height: 9px;
  width: 9px;
  background: #232323;
  position: absolute;
  left: -2em;
  top: calc(50% - 0.3em);
  border-radius: 50%;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.sidebar .link.active::before {
  background: #FF1E56;
  width: 24px;
  border-radius: 20px;
  left: calc(-2em - 8px);
}

.sidebar .scroll img {
  margin-bottom: 0.5em;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.sidebar .scroll:hover img {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.navbar {
  height: 80px;
  width: 100%;
  background: #0D0D0D;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar.hidden {
  margin-top: -80px;
}

.navbar .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo img {
  height: 30px;
}

.navbar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu ul li:not(:first-child) {
  margin-left: 2em;
}

.navbar .menu ul li:last-child {
  margin-left: 1.2em;
}

.navbar .hamburger {
  background: #0D0D0D;
  padding: 10px 11px;
  border-radius: 50%;
  display: none;
  position: fixed;
  right: 15px;
  cursor: pointer;
}

.navbar .hamburger span {
  display: block;
  height: 4px;
  margin: 6px 2px;
  background: white;
  width: 30px;
  border-radius: 5px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar .hamburger.open span:first-child {
  width: 100%;
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.navbar .hamburger.open span:nth-child(2) {
  opacity: 0;
}

.navbar .hamburger.open span:last-child {
  width: 100%;
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

@media only screen and (max-width: 750px) {
  .navbar.hidden {
    width: 108px;
    background: transparent;
    margin-top: 0px;
  }
  .navbar .hamburger {
    display: block;
  }
  .menu {
    position: fixed;
    height: calc(100vh - 80px);
    width: 100%;
    z-index: 2;
    top: 80px;
    right: -100%;
    background: #0D0D0D;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
  }
  .menu.open {
    right: 0;
  }
  .menu ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu ul li {
    margin: 0 !important;
  }
  .menu ul li a {
    color: white;
    padding: 1em;
    border: none;
  }
  .menu ul li a:hover {
    background: none;
    color: #FF1E56;
  }
}

#hero .container {
  text-align: center;
}

#hero .subtitle {
  padding-top: 25vh;
  margin-bottom: 0.6em;
}

#hero .header {
  margin-bottom: 1.2em;
}

#hero .img {
  height: 480px;
}

#hero .img img {
  height: 100%;
}

#about {
  padding: 13em 0 4em;
}

#about .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about span {
  display: block;
  padding-top: 1em;
}

#about .left {
  max-width: 600px;
}

#about .left .header {
  margin-bottom: 30px;
}

#about .left .paragraph {
  margin-bottom: 65px;
}

#about .right {
  height: 430px;
}

#about .right img {
  height: 100%;
}

#what {
  padding: 11em 0 15em;
}

#what .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
}

#what .right {
  margin-left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

#what .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#what .feature .img-circle {
  margin-right: 60px;
}

#what .feature li {
  line-height: 1.4;
}

#what .feature li::before {
  margin-right: 1.3em;
  display: inline-block;
  content: '';
  background-color: #232323;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

#what .feature:nth-child(even) {
  margin-left: 40px;
}

#what .circle {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 900px;
  overflow: hidden;
}

#what .circle svg {
  width: 1500px;
}

#work {
  padding: 5em 0 3em;
}

#work .container {
  padding: 0 140px;
}

#work .header {
  text-align: center;
}

#work .categories {
  text-align: center;
  margin: 60px 0 140px;
}

#work .categories .link {
  cursor: pointer;
}

#work .categories .link:not(:first-child)::before {
  margin: 0 45px;
  display: inline-block;
  content: '';
  height: 2px;
  width: 100px;
  background-color: #232323;
  vertical-align: middle;
}

#work .websites-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: calc(20px + 40px);
}

#work .websites-grid .websites-item {
  position: relative;
  height: 330px;
  width: calc(100% - 40px);
  cursor: pointer;
}

#work .websites-grid .websites-item .btn {
  opacity: 0;
  position: absolute;
  right: -40px;
  top: calc(50% - 50px);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#work .websites-grid .websites-item .title {
  position: absolute;
  bottom: 10px;
  left: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#work .websites-grid .websites-item .description {
  width: 80%;
  opacity: 0;
  position: absolute;
  bottom: -1em;
  left: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#work .websites-grid .websites-item::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  display: block;
  content: '';
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#work .websites-grid .websites-item::after {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  content: '';
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#work .websites-grid .websites-item:hover .btn {
  opacity: 1;
}

#work .websites-grid .websites-item:hover .title {
  bottom: 4em;
}

#work .websites-grid .websites-item:hover .description {
  opacity: 1;
  bottom: 10px;
}

#work .websites-grid .websites-item:hover::before {
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  display: block;
  content: '';
}

#work .illustrations-grid, #work .icons-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: calc(20px + 40px);
}

#work .illustrations-grid .illustrations-item, #work .illustrations-grid .icons-item, #work .icons-grid .illustrations-item, #work .icons-grid .icons-item {
  position: relative;
  height: 330px;
  width: calc(100% - 40px);
  cursor: pointer;
}

#work .illustrations-grid .illustrations-item .title, #work .illustrations-grid .icons-item .title, #work .icons-grid .illustrations-item .title, #work .icons-grid .icons-item .title {
  position: absolute;
  bottom: -10px;
  left: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

#work .illustrations-grid .illustrations-item::before, #work .illustrations-grid .icons-item::before, #work .icons-grid .illustrations-item::before, #work .icons-grid .icons-item::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  display: block;
  content: '';
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

#work .illustrations-grid .illustrations-item:hover .title, #work .illustrations-grid .icons-item:hover .title, #work .icons-grid .illustrations-item:hover .title, #work .icons-grid .icons-item:hover .title {
  bottom: 10px;
  opacity: 1;
}

#work .illustrations-grid .illustrations-item:hover::before, #work .illustrations-grid .icons-item:hover::before, #work .icons-grid .illustrations-item:hover::before, #work .icons-grid .icons-item:hover::before {
  opacity: 1;
}

#contact {
  padding: 10em 0 15em;
}

#contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .left .img img {
  height: 430px;
  width: auto;
}

#contact .left .paragraph {
  margin: 0.5em 0 4em;
}

#contact .left .paragraph a {
  border-bottom: 1px solid #FF1E56;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#contact .left .paragraph a:hover {
  color: #FF1E56;
  border-bottom: 1px solid black;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  color: #474747;
}

#contact form input, #contact form textarea {
  border: none;
  margin-bottom: 1em;
  color: #fff;
}

#contact form input:not([type="submit"]), #contact form textarea:not([type="submit"]) {
  width: 550px;
  background: none;
  border: 1px solid #232323;
  font-size: 1em;
  font-family: 'Heebo', sans-serif;
  padding: 0.7em;
  resize: none;
  margin-bottom: 2em;
}

#contact form input:not([type="submit"]):focus, #contact form textarea:not([type="submit"]):focus {
  outline-color: #474747;
}

#contact form input:-webkit-autofill, #contact form textarea:-webkit-autofill {
  -webkit-transition: background-color 1s ease-in-out 550s;
  transition: background-color 1s ease-in-out 550s;
  color: white;
}

#contact form label {
  margin-bottom: 0.2em;
  margin-top: 1.5em;
}

#contact form label:first-child {
  margin-top: 2.5em;
}

#contact form .btn {
  width: 230px;
}

footer .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5em;
}

footer .lower {
  text-align: center;
  color: #232323;
  font-family: 'Heebo';
  font-size: 16px;
  margin-bottom: 1.5em;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .info p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4em 0 1em;
}

footer .info span {
  display: block;
}

footer .info img {
  width: 28px;
  vertical-align: middle;
}

footer .links a:not(:first-child) {
  margin-left: 1.8em;
}

@media only screen and (max-width: 1650px) {
  .container {
    padding: 0 90px 0 70px;
  }
  #work .container {
    padding: 0 50px 0 70px;
  }
  #what .circle svg {
    width: 1370px;
  }
}

@media only screen and (max-width: 1450px) {
  .container {
    padding: 0 40px 0 40px;
  }
  #work .container {
    padding: 0 0 0 40px;
  }
  #what .circle svg {
    width: 1310px;
  }
}

@media only screen and (max-width: 1350px) {
  .push {
    margin: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */