@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans:wght@400;600;700&family=Quicksand&display=swap");
body {
  background: black;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

main {
  margin-left: 220px;
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 4em;
  color: white;
}

.subheader {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: white;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.subtitle span {
  color: #FF1E56;
}

.paragraph {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  color: white;
}

.link {
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  color: #474747;
  position: relative;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.link:hover {
  color: white;
}

.link.active {
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
  display: inline-block;
}

.btn {
  color: white;
  background: #FF1E56;
  display: inline-block;
  padding: 1em;
  min-width: 220px;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  border-radius: 30px;
  position: relative;
  text-align: center;
}

.btn img {
  vertical-align: middle;
  -webkit-transform: translateX(1em);
          transform: translateX(1em);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.btn.right:hover img {
  -webkit-transform: translateX(1.4em);
          transform: translateX(1.4em);
}

.btn.down:hover img {
  -webkit-transform: translate(1em, 0.3em);
          transform: translate(1em, 0.3em);
}

.sidebar {
  width: 220px;
  height: 100%;
  position: fixed;
  background: #0D0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar .scroll, .sidebar .logo {
  margin: 60px 0;
  text-align: center;
}

.sidebar .menu {
  position: relative;
  line-height: 3;
}

.sidebar .menu::before {
  display: block;
  content: '';
  height: calc(100% - 3em);
  width: 1px;
  background: #232323;
  position: absolute;
  left: -1.8em;
  top: 1.5em;
}

.sidebar .link::before {
  display: block;
  content: '';
  height: 9px;
  width: 9px;
  background: #232323;
  position: absolute;
  left: -2em;
  top: calc(50% - 0.3em);
  border-radius: 50%;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.sidebar .link.active::before {
  background: #FF1E56;
  width: 24px;
  border-radius: 20px;
  left: calc(-2em - 8px);
}

.sidebar .scroll img {
  margin-bottom: 0.5em;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.sidebar .scroll:hover img {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#home .img img {
  height: 400px;
}

#about span {
  display: block;
  padding-top: 1em;
}

#about .img img {
  height: 400px;
}
/*# sourceMappingURL=styles.css.map */